body {
    overflow: hidden;
}

canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}

.Titulo {
    position: absolute;
    left: 20px;
    top: 0px;
    z-index: 1;
    color: white;
    user-select: none;
}

.Cabecalho {
    position: absolute;
    left: 20px;
    top: 0px;
    z-index: 1;
    color: white;
    user-select: none;
}

.Grupo-De-Botoes-Flutuantes {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
    display: flex;
    font-size: 30px;
    color: white;
}

.Botao-Flutuante {
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
}

.Menu-Lateral {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    height: 93%;
    width: 355px;
    z-index: 2;
    background-color: white;
    opacity: 100%;
    border-radius: 5%;
    padding: 1%;
    margin: auto;
    align-items: center;
    flex-direction: column;
}

.Menu-Lateral h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.Esconder-CheckMark {
    display: none;
}

.Botao-Fechar-Menu-Lateral {
    position: absolute;
    right:25px;
    top:22px;
    cursor: pointer;
    user-select: none;
}

.Escolhas-De-Informacoes {
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Escolha-De-Informacao {
    width: 100%;
    align-items: center;
    border: 1px solid black;
    border-radius: 5%;
    cursor: pointer;
    user-select: none;
}

.Selecionado {
    background-color: blue;
    color: white;
}

.Escolha-De-Informacao p {
    text-align: center;
    margin: 5px;
}

.Informacoes-Grafo {
    width: 100%;
    display: none;
}

.Informacoes-Vertice {
    width: 100%;
    display: none;
}

.Informacao-Selecinada {
    display: block;
}

.Linha-De-Informacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    justify-content: center;
}

.Linha-De-Informacao h2 {
    margin: 0px;
    margin-right: 5px;
}

.Linha-De-Informacao select{
    width: 100%;
}

.Lista-De-Informacoes {
    width: 100%;
    margin-left: 10px;
}

.Lista-De-Informacoes h2 {
    margin: 0px;
}
.Lista-De-Informacoes li:hover {
    cursor: pointer;
}

.Configuracao {
    width: 100%;
    height: 100%;
}

.Configuracao h2{
    margin: 0px;
}

.Configuracao h3{
    margin: 0px;
    margin-left: 20px;
}
.Linha-De-Configuracao {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.Linha-De-Configuracao h3 {
    white-space: nowrap;
}

.Linha-De-Configuracao input {
    margin-left: auto;
    width: auto;
}

.BotaoDeBaixarGrafo {
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.BotaoDeBaixarGrafo button{
    font-size: 25px;
}

.Modal-Background {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(128,128,128,.9);
}

.Modal {
    z-index: 3;
    background-color: white;
    opacity: 85%;
    border-radius: 2%;
    padding: 2%;
    margin: auto;
}

.Modal-Conteudo {
    overflow-y: auto;
}

.Modal-Titulo h1{
    margin: 0px 10px 10px 10px;
    font-size: 25;
}

.Modal-Conteudo input{
    width: 100%;
}

.Modal-Conteudo button{
    width: 20%;
    margin-top: 10px;
    align-self: end;
}

.Botao-Selecionado {
    color: white;
    border-color: blue;
    background-color: blue;
}

ul {
    margin: 2px;
}

.Vertice-Para-Pegar-Informacao {
    margin: 2px;
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}